<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.debtsettler_v3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_home_screen_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_home_screen_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DebtSettler_v3"
        tools:ignore="ExtraText">

        <activity
            android:name=".StartScreen"
            android:theme="@style/Theme.DebtSettler_v3.noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".zgodovina" />
        <activity android:name=".NakupovalnaLista" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Login" />
        <activity
            android:name=".DodajNakup"
            android:theme="@style/Theme.AppCompat.AddPopUp" />
        <activity
            android:name=".DodajIzdelek"
            android:theme="@style/Theme.AppCompat.AddPopUp" />
        <activity
            android:name=".DodajNakazilo"
            android:theme="@style/Theme.AppCompat.AddPopUp" />
        <activity android:name=".Registracija" />
    </application>

</manifest>